@media (max-width: 768px){
    header{
        flex-direction: row;
        padding: 1rem 2rem;
    }
    header > a{
        margin-right: 0;
    }
    header > a[href="/"] > h1{
        font-size: medium;
        width: max-content;
    }
    header ul{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
    }
    header ul li{
        margin: .7rem;
    }
    #nav-menu[aria-hidden="true"]{
        display: none;
        width: 100%;
    }
    .hidden-area {
        scroll-snap-align: start;
        opacity: 0.4;
        filter: blur(5px);
        transform: translateX(30%);
        transition: all 0.5s;
    }
    #nav-menu{
        position: absolute;
        top: 10%; 
        left: 0;
        background: #1d1e21;
        border-radius: 2.5rem;
        width: 80vw;
        margin: 0 10vw;
    }
    #nav-button{
        all: unset;
        background: transparent;
        /* width: 20rem; */
        display: grid;
        place-items: center;
        outline: none;
        height: 30px;
        padding:0 1.5rem;
        position: relative;
    }
    #nav-button::after,#nav-button::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        left: 0;
        width: 2rem;
        height: 2px;
        pointer-events: none;
        -webkit-transition: -webkit-transform 0.55s;
        transition: transform 0.55s;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #2a2b30;
    }
    #nav-button:not(.close)::after{
        transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
    }
    #nav-button:not(.close)::before{
        transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
    }
    #nav-button::before{
            transform: rotate3d(0, 0, 1, 45deg);
    }
    #nav-button::after{
            transform: rotate3d(0, 0, 1, -45deg);
    }
    #nav-button span {
        position: absolute;
        left: 0;
        overflow: hidden;
        width: 2rem;
        height: 2px;
        text-indent: 200%;
        margin-top: .1rem;
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        background: #2a2b30;
        transition: all 0.5s;
    }
    #nav-button:is(.close) span {
        opacity: 0;
    }
}