*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color: #ff3e6c;
    --secondary-color: #3b305400;
    --background-color: #323035;
    --text-color: #d3cece;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}
header{
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}
header > a {
    margin-right: 10rem;
}
header a:hover{
    color: var(--primary-color);
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    margin: 0 2rem;
}
a[href="/login"],a[href="/register"]{
    margin: 0 1rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}
a[href="/login"]
{
    transition: all 0.3s ease;
    outline: none;
    border: none;
    padding: .7em 3rem;
    border-radius: 10px;
    background-color: rgb(46, 3, 87);
}
a[href="/login"]:hover{
    color: var(--text-color);
    background-color: var(--secondary-color)
}
#nav-button{
    display: none;  
}
.navbar__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

