.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color: #5c5edc;
    --secondary-color: #040b2429;
    --background-color: #060a1c;
    --text-color: #d3cece;
    --seccess-color: #2ecc71;
    --danger-color: #e74c3c;
    --warning-color: #f1c40f;
    --info-color: #3498db;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}
header{
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}
header > a {
    margin-right: 10rem;
}
header a:hover{
    color: var(--primary-color);
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    margin: 0 2rem;
}
a[href="/login"],a[href="/register"]{
    margin: 0 1rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}
a[href="/login"]
{
    transition: all 0.3s ease;
    outline: none;
    border: none;
    padding: .7em 3rem;
    border-radius: 10px;
    background-color: var(--primary-color);
  }
  a[href="/login"]:hover{
    color: var(--text-color);
    background-color: var(--secondary-color)
}
a.active{
  color: var(--primary-color);
}
a[href="/login"].active{
  color: var(--primary-color);
  background-color: var(--secondary-color)
}
#nav-button{
    display: none;  
}
.navbar__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

