name: Node.js API CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          path: 'backend-api'

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ./backend-api

      - name: Build
        run: npm run build
        working-directory: ./backend-api

      - name: Run tests
        run: npm test
        working-directory: ./backend-api